@import '~bootstrap/scss/bootstrap';

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(115deg, rgba(84, 149, 235, 0.5), rgba(101, 187, 221, 0.7))
}

#navbar {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

#container {
  background-color: rgba(255, 255, 255, 0.4);
  margin-top: 56px;
}

#home {
  position: relative;

  #welcome-message {
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.9);
    //border-radius: 5px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  }
}

#projects {
  border: 1px solid green;
  position: relative;

  .title {
    background-color: rgba(255, 255, 255, 0.9);
  }
}

#contact {
  border: 1px solid yellow;
  position: relative;
}